* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: Center;
    align-items: center;
    background: #FFD700
}